@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #000000;
}

body {
    background-color: #1D0030;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size:50px;
    font-family: "Overlock", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.overlock-regular {
    font-family: "Overlock", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.overlock-bold {
    font-family: "Overlock", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  

  